.html,
body {
    height: 100vh;
}

body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
}

main {
    overflow: hidden;
}


/* canvas style */

#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #1a252f;
}

.particles-js-canvas-el {
    min-height: 100%;
}

.gs_reveal {
    opacity: 0;
    visibility: hidden;
    transition: transform 0s;
}


/* transiciones iguales */

.nav,
.nav>ul,
.nav>ul li a,
.nav .logo a,
#nav-icon1,
#nav-icon1 span,
.skill>ul>li>ul,
#container ul li .summary>div,
#container ul li .images>div,
#container ul li .images>div,
#container ul li .images div img,
#container ul li p a,
.list__contactme>ul>li.right p a,
.linkProfile ul li a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/* link external profil */

.linkProfile {
    display: block;
    box-sizing: border-box;
}

.linkProfile ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkProfile ul li {
    margin: 0 10px;
}

.linkProfile ul li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    text-indent: -99999px;
}

.linkProfile ul li.item1 a {
    -webkit-mask: url(..//img/svg/githubIcon.svg);
    mask: url(..//img/svg/githubIcon.svg);
}

.linkProfile ul li.item2 a {
    -webkit-mask: url(..//img/svg/linkedin.svg);
    mask: url(..//img/svg/linkedin.svg);
}

.linkProfile ul li a:hover {
    background-color: #999999;
}

.nav .linkProfile {
    width: 100%;
    padding: 18px;
    vertical-align: top;
}

.nav.horizontal__nav .linkProfile {
    display: inline-block;
    width: auto;
}

.sect01 h1>span {
    display: inline-block;
    text-indent: -9999px;
}


/* animation for svg */

#cjdLogo {
    width: 25%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
}

#circulo {
    stroke: #626463;
    stroke-opacity: 0;
    stroke-miterlimit: 5;
    animation-delay: 1.5s, 1s, 2.5s;
    animation-duration: 2s, 1.5s, 1s;
    stroke-dashArray: 1500;
    stroke-dashoffset: 1500;
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    animation-name: DrawLine, ShowStroke, FillIn;
}

#J {
    display: block;
    stroke: #626463;
    stroke-miterlimit: 5;
    animation-delay: .5s, 1.5s, 1.5s;
    animation-duration: 2.5s, 1s, 1.5s;
    stroke-dashArray: 1500;
    stroke-dashoffset: 1500;
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    animation-name: DrawLine, FadeStroke, FillIn;
}

#letra_c,
#letra_a,
#letra_r,
#letra_l,
#letra_o,
#letra_s,
#letra_j,
#letra_d {
    stroke-miterlimit: 9;
    stroke-dashArray: 1000;
    stroke-dashoffset: 1000;
    fill-opacity: 0;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    animation-name: DrawLine, FillIn, StrokeWidth;
}

#letra_c {
    animation-delay: .1s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_a {
    animation-delay: .3s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_r {
    animation-delay: .5s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_l {
    animation-delay: .7s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_o {
    animation-delay: .9s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_s {
    animation-delay: 1.1s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_j {
    animation-delay: 1.3s, 1.5s, 1.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#letra_d {
    animation-delay: 1.5s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_p,
#portfolio_x5F_o1,
#portfolio_x5F_r,
#portfolio_x5F_t,
#portfolio_x5F_f,
#portfolio_x5F_o2,
#portfolio_x5F_l,
#portfolio_x5F_i,
#portfolio_x5F_o3 {
    fill-opacity: 0;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    animation-name: FillIn;
}

#portfolio_x5F_p {
    animation-delay: 1.5s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_o1 {
    animation-delay: 1.2s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_r {
    animation-delay: .9s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_t {
    animation-delay: .6s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_f {
    animation-delay: .3s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_o2 {
    animation-delay: .6s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_l {
    animation-delay: .9s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_i {
    animation-delay: 1.2s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

#portfolio_x5F_o3 {
    animation-delay: 1.5s, 2.5s, 2.5s;
    animation-duration: 1.5s, 1s, 1.5s;
}

@keyframes DrawLine {
    to {
        stroke-dashOffset: 0;
    }
}

@keyframes ShowStroke {
    to {
        stroke-opacity: 1;
    }
}

@keyframes FadeStroke {
    to {
        stroke-opacity: 0;
    }
}

@keyframes StrokeWidth {
    to {
        stroke-width: 1.8;
    }
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

@-webkit-keyframes DrawLine {
    to {
        stroke-dashOffset: 0;
    }
}

@-webkit-keyframes ShowStroke {
    to {
        stroke-opacity: 1;
    }
}

@-webkit-keyframes FadeStroke {
    to {
        stroke-opacity: 0;
    }
}

@-webkit-keyframes StrokeWidth {
    to {
        stroke-width: 1.8;
    }
}

@-webkit-keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

.for_sp {
    display: none;
}


/*wrapp*/

.wrap {
    position: relative;
}


/* SP Menu Button */

#nav-icon1 {
    width: 40px;
    height: 38px;
    position: relative;
    margin: auto;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #d3531a;
    border-radius: 50px;
    opacity: 1;
    right: 0;
}

#nav-icon1,
#nav-icon1 span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 16px;
    width: 90%;
}

#nav-icon1 span:nth-child(3) {
    top: 32px;
    width: 80%;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    width: 100%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    width: 100%;
    right: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    width: 100%;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*parte del menu*/

.nav {
    display: inline-block;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 400px;
    z-index: 99;
    background: linear-gradient(45deg, #e74d3cd0, #f1c40fb7, #1abc9c80, #3498dbd0, #9b59b6, #e74c3c80);
    animation: gradient 25s ease infinite;
    background-size: 500% 500%;
}

.nav.pcNav {
    right: 10%;
}

.nav.horizontal__nav {
    width: 80%;
    height: 60px;
    background: #0000004d;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.nav .logo {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px;
    margin-left: 3%;
}

.nav .logo a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    -webkit-mask-image: url(../img/svg/logoforNav.svg);
    mask-image: url(../img/svg/logoforNav.svg);
    -webkit-mask-size: 40px;
    mask-size: 40px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: #ffffff;
    -webkit-animation: rotateY 8s infinite linear;
    animation: rotateY 8s infinite linear;
}

@-webkit-keyframes rotateY {
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotateY {
    to {
        transform: rotateY(360deg);
    }
}

.nav .logo a:hover {
    background-color: #fa7f51;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.nav.blue {
    background: #034f84;
}

.nav.green {
    background: #79c753;
}

.nav.black {
    background: #333333;
}

.nav.red {
    background: #dd4132;
}

.nav>ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    max-width: 170px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    right: 0px;
}

.nav.horizontal__nav ul {
    max-width: 500px;
    right: 2%;
    flex-direction: row;
}

.nav>ul li a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
}

.nav>ul li a:hover {
    background-color: transparent;
}

.nav>ul li a:after {
    content: '';
    background-color: transparent;
    width: 30px;
    height: 1px;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transition: .8s all ease-out;
    -moz-transition: .8s all ease-out;
    transition: .8s all ease-out;
}

.nav>ul li a:hover:after {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.nav>ul li.active a:after {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    transition: .3s all ease-out;
}


/*parte de logo*/

.sect01 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #000000, #737373);
    background-size: 200% 200%;
    animation: movingGradient 5s ease;
    -webkit-animation: movingGradient 5s ease;
}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes movingGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* poner paddin top a todas las secciones */

.sect02,
.sect03,
.sect04,
.sect05 {
    padding-top: 150px;
}

.sect02 {
    width: 100%;
    margin: 0 auto;
}

.sect02 {
    background-color: #e6e6e6;
}

section h2 {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(248, 132, 64);
    line-height: 1;
    z-index: 3;
}

section h2 i {
    display: inline-block;
    padding: 0 50px;
    font-size: 60px;
    background-color: #1a252f;
    color: #fa7f51;
    clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
    -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
    font-weight: 200;
}

section#work h2 i {
    background-color: #fa7f51;
    color: #1a252f;
}

.sect02>div {
    width: 70%;
    margin: auto;
    padding-bottom: 100px;
}

.sect02>div.skill {
    width: 100%;
    box-sizing: border-box;
}

.skill {
    text-align: right;
}

.skill>ul {
    display: flex;
    width: 80%;
    margin: auto;
}

.skill>ul>li {
    flex-basis: 100%;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.skill>ul>li+li {
    margin-left: 3%;
}

.skill>ul>li>ul {
    height: 100%;
    padding: 50px 0;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
    background-color: #242424;
    background-position: center;
    background-size: 180%;
    background-blend-mode: soft-light;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.skill>ul>li:last-child>ul {
    font-family: 'Montserrat';
    font-family: Hiragino Maru Gothic ProN;
}

.no-webp .skill>ul>li.frontEnd ul {
    background-image: url(../img/skillBG/code1.jpg);
}

.no-webp .skill>ul>li.design ul {
    background-image: url(../img/skillBG/design1.png);
}

.no-webp .skill>ul>li.others ul {
    background-image: url(../img/skillBG/tool1.jpg);
}

.no-webp .skill>ul>li.challenge ul {
    background-image: url(../img/skillBG/challenge1.jpg);
}

.webp .skill>ul>li.frontEnd ul {
    background-image: url(../img/skillBG/code1.webp);
}

.webp .skill>ul>li.design ul {
    background-image: url(../img/skillBG/design1.webp);
}

.webp .skill>ul>li.others ul {
    background-image: url(../img/skillBG/tool2.webp);
}

.webp .skill>ul>li.challenge ul {
    background-image: url(../img/skillBG/challenge1.webp);
}

.skill>ul>li ul:hover {
    background-color: #151515;
    background-size: 200%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.skill>ul>li>h3 {
    font-size: 24px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: #444444;
    font-weight: 600;
}

.skill>ul>li>h3 small {
    display: inline;
    font-family: Hiragino Maru Gothic ProN;
    font-size: 14px;
}

.skill>ul>li>ul>li {
    margin-bottom: 10px;
}

.presentacion p {
    position: relative;
    font-size: 14px;
    font-family: Hiragino Maru Gothic ProN;
    font-weight: 100;
    color: rgb(44, 44, 44);
    line-height: 1.5;
}


/* parte de Work */

section#work {
    position: relative;
    background-color: #1a252f;
}

#work #container {
    width: auto;
    margin: 0 auto;
    padding: 50px 0;
    height: 100%;
    align-items: center;
}

#container ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
}

#container ul li {
    display: flex;
    width: 90%;
    height: auto;
    padding: 5% 2%;
    z-index: 1;
    margin: 60px auto;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    border-radius: 10px;
}

#container ul li>div+div {
    margin-left: 30px;
}

#container ul li .images {
    position: relative;
    width: 60%;
    flex-basis: 100%;
    align-self: center;
    text-align: center;
}

#container ul li .summary {
    flex-basis: 40%;
    border-radius: 10px;
}

#container ul li .summary h3 {
    padding: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    font-family: Hiragino Maru Gothic ProN;
    background: #1a252f;
    color: #b1b1b1;
    border-radius: 5px;
}

#container ul li .summary h3 small {
    font-size: 11px;
    display: block;
    text-align: justify;
}

#container ul li .summary>div {
    padding: 20px 10px;
    border-top: 1px solid #ddd;
}

#container ul li .summary>p.warning {
    text-align: right;
    font-size: 10px;
}

#container ul li .summary div.activeHover,
#container ul li .summary div.activeHover,
#container ul li .summary div.activeHover,
#container ul li .summary div:hover,
#container ul li .summary div:hover,
#container ul li .summary div:hover {
    background-color: #e0e0e0;
}

#container ul li.dock .images,
#container ul li.diamond .images,
#container ul li.flex1 .images,
#container ul li.flex2 .images,
#container ul li.li_01 .images {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

#container ul li.dock .images>div,
#container ul li.flex2 .images>div,
#container ul li.flex1 .images>div,
#container ul li.diamond .images>div {
    width: 100%;
    position: relative;
}

#container ul li.dock .images .left,
#container ul li.flex1 .images .left {
    clip-path: polygon(0% 0%, 75% 0%, 25% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 25% 100%, 0% 100%);
}

#container ul li.dock .images .right,
#container ul li.flex1 .images .right {
    clip-path: polygon(0% 152%, 100% -48%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 152%, 100% -48%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

#container ul li.dock .images .left:hover,
#container ul li.dock .images .left.activeHover,
#container ul li.flex1 .images .left:hover,
#container ul li.flex1 .images .left.activeHover {
    clip-path: polygon(0% 0%, 135% 0%, 70% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 135% 0%, 70% 100%, 0% 100%);
    z-index: 2;
}

#container ul li.dock .images .right:hover,
#container ul li.dock .images .right.activeHover,
#container ul li.flex1 .images .right:hover,
#container ul li.flex1 .images .right.activeHover {
    clip-path: polygon(0% 46%, 100% -107%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 46%, 100% -107%, 100% 100%, 0% 100%);
    z-index: 2;
}

#container ul li.dental .images {
    display: flex;
}

#container ul li.dental .images>div {
    position: relative;
    width: 30%;
    margin: auto;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

#container ul li.auone .images .center {
    width: 30%;
    margin: auto;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

#container ul li.flex2 .images .left,
#container ul li.diamond .images .left {
    clip-path: polygon(0% 0%, 40% 0%, 15% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 40% 0%, 15% 100%, 0% 100%);
    z-index: 1;
}

#container ul li.flex2 .images .center,
#container ul li.diamond .images .center {
    -webkit-clip-path: polygon(41% 0%, 59% 0%, 84% 100%, 16% 100%);
    clip-path: polygon(41% 0%, 59% 0%, 84% 100%, 16% 100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

#container ul li.flex2 .images .right,
#container ul li.diamond .images .right {
    -webkit-clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 85% 100%);
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 85% 100%);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}

#container ul li.flex2 .images .left:hover,
#container ul li.flex2 .images .left.activeHover,
#container ul li.diamond .images .left:hover,
#container ul li.diamond .images .left.activeHover {
    clip-path: polygon(0% 0%, 135% 0%, 70% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 135% 0%, 70% 100%, 0% 100%);
    z-index: 2;
}

#container ul li.flex2 .images .center:hover,
#container ul li.flex2 .images .center.activeHover,
#container ul li.diamond .images .center:hover,
#container ul li.diamond .images .center.activeHover {
    clip-path: polygon(-30% 0%, 130% 0%, 84% 100%, 16% 100%);
    -webkit-clip-path: polygon(-30% 0%, 130% 0%, 84% 100%, 16% 100%);
    z-index: 2;
}

#container ul li.flex2 .images .right:hover,
#container ul li.flex2 .images .right.activeHover,
#container ul li.diamond .images .right:hover,
#container ul li.diamond .images .right.activeHover {
    clip-path: polygon(-60% 0%, 100% 0%, 100% 100%, 30% 100%);
    -webkit-clip-path: polygon(-60% 0%, 100% 0%, 100% 100%, 30% 100%);
    z-index: 2;
}

#container ul li p {
    width: auto;
    padding: 10px;
    font-size: 12px;
    font-family: Hiragino Maru Gothic ProN;
    font-weight: 100;
}

#container ul li p.link {
    text-align: right;
}

#container ul li p a {
    display: inline-flex;
    padding: 2px 10px;
    align-items: center;
    text-decoration: none;
    color: #315cfd;
}

#container ul li p a:hover {
    background-color: #f5f5f5;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    color: #444;
}

#container ul li img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.resume {
    background-color: #fff;
    padding: 100px 0;
}

.resume .home_cli {
    width: 50%;
    margin: auto;
    background: #040d21;
    border-radius: .625rem;
    font-size: .75rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .0274351), 0 4px 4px rgba(0, 0, 0, .0400741), 0 10px 8px rgba(0, 0, 0, .0499982), 0 15px 15px rgba(0, 0, 0, .0596004), 0 30px 30px rgba(0, 0, 0, .0709366), 0 70px 65px rgba(0, 0, 0, .09) !important;
}

.resume .home_cli_title {
    position: relative;
    font-size: .6875rem;
    color: rgba(255, 255, 255, .75);
    padding: .25rem;
    margin-bottom: 1rem;
    text-align: center;
}

.resume .home_cli_title span {
    position: absolute;
    left: 8px;
    font-size: 12px;
    letter-spacing: 3px;
}

.resume ul {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.resume .home_cli ul li {
    color: #fff;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
}

.resume .home_cli ul li+li {
    margin-top: 25px;
}

.resume .home_cli ul li .white_fade {
    color: rgba(255, 255, 255, .7);
    margin-top: 5px;
    display: inline-block;
}

.resume .home_cli ul li .color_pink {
    color: #ea4aaa;
}

.resume .home_cli ul li .color_green {
    color: #28ad2c;
}

.resume .home_cli ul li .color_blue {
    color: #42c9d8;
}


/* conatct */

#contact {
    position: relative;
    background-color: #ffffff;
}

#contact .diagonalBox {
    overflow: hidden;
}

#contact .diagonalBox::before,
#contact .diagonalBox::after {
    content: '';
    position: absolute;
    width: 166%;
    height: 200%;
    left: 0;
}

#contact .diagonalBox::before {
    background: #fa7f51;
    top: 0%;
    transform: rotate(25deg);
    transform-origin: top left;
    z-index: 0;
}

#contact .list__contactme {
    position: relative;
    z-index: 3;
    text-align: center;
}

#contact .diagonalBox::after {
    background: #1a252f;
    top: 53%;
    transform: rotate(-14.6deg);
    transform-origin: bottom left;
    z-index: 1;
    /* background-repeat: no-repeat;
    background-size: 72%;
    background-blend-mode: multiply;
    background-position: center 0%; */
}


/* .no-webp #contact .diagonalBox::after {
    background-image: url(../img/carlos_leona.jpg);
} */


/* .webp #contact .diagonalBox::after {
    background-image: url(../img/carlos_leona.webp);
} */

.contact h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    z-index: 3;
}

.list__contactme>ul {
    padding: 100px 0;
    display: inline-block;
}

.list__contactme>ul>li {
    width: calc( (100vh / 2));
    height: calc( (100vh / 2));
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000005e;
    border-radius: 50%;
    background-position-x: 30%;
    background-size: cover;
    background-blend-mode: multiply;
}

.no-webp .list__contactme>ul>li {
    background-image: url(../img/carlos_leona.webp);
}

.webp .list__contactme>ul>li {
    background-image: url(../img/carlos_leona.webp);
}

.list__contactme>ul>li.right p {
    margin-bottom: 20px;
}

.list__contactme>ul>li.right p.line__qr {
    position: absolute;
    left: 20%;
}

.list__contactme>ul>li.right p.line__qr img {
    width: 150px;
}

.list__contactme>ul>li.right p a {
    color: #fff;
    font-size: 25px;
    font-family: Hiragino Maru Gothic ProN;
    text-decoration: none;
    font-weight: 300;
    text-shadow: -1px 2px 2px #000;
}

.list__contactme>ul>li.right p.line__link a small {
    display: inline-block;
    font-size: 18px;
}


/* .list__contactme>ul>li.right p a:hover {
    text-decoration: underline;
} */

.list__contactme>ul>li.right p a:hover {
    color: #fa7f51;
}


/* .list__contactme>ul>li.right p.email1 a:hover {
    background: -webkit-linear-gradient(45deg, #dd5043, #efefef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.list__contactme>ul>li.right p.line__link a:hover {
    color: #1dcd00;
} */

::-webkit-search-cancel-button {
    display: none;
}

footer {
    width: 100%;
    padding: 30px 0;
    font-family: 'Montserrat';
    font-size: 11px;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    background: #101010;
    border-top: 1px solid #fa7f51;
}

footer .linkProfile {
    width: 100%;
}

footer p::before {
    background-color: transparent;
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto 20px;
    position: relative;
    width: 50px;
}

footer p::after {
    background-color: #ffffff;
    content: '';
    display: block;
    height: 1px;
    margin: 20px auto 0px;
    position: relative;
    width: 50px;
}


/* ■□■□■□■□■□■□■□■□ MEDIA QUERY ■□■□■□■□■□■□■□■□ */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    #cjdLogo {
        width: 50%;
    }
    .skill>ul>li>h3 {
        height: 58px;
        display: table;
    }
}

@media only screen and (max-width: 540px) {}

@media only screen and (max-width: 990px) {
    .for_sp {
        display: block;
    }
    .for_pc {
        display: none !important;
    }
    .nav.spNav .linkProfile {
        position: relative;
        top: 75px;
    }
    .sect02,
    .sect03,
    .sect04,
    .sect05 {
        padding-top: 30px;
    }
    #cjdLogo {
        width: 80%;
    }
    .hamburger_menu {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 2px;
        color: #fff;
        z-index: 100;
        letter-spacing: 6px;
        font-size: 30px;
        font-weight: bolder;
        cursor: pointer;
        -webkit-transition: .5s all ease-out;
        -moz-transition: .5s all ease-out;
        transition: .5s all ease-out;
    }
    #nav-icon1.open span {
        background: #fff;
    }
    .nav {
        width: 100%;
        height: 100%;
        right: -100%;
        opacity: 0.7;
        background: #000;
    }
    .animate_for_nav {
        right: 0px;
    }
    .animate_for_menuIcon {
        right: calc( (100% / 2) - 22px);
    }
    .animate_for_menuIcon2 {
        right: 20px;
    }
    .bur {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    ul.nav_list {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        top: calc( (100vh / 2) - 220px);
        text-align: center;
    }
    ul.nav_list li {
        padding: 7% 0;
    }
    ul.nav_list li a {
        font-size: 20px;
    }
    /* ME */
    .sect02 {
        width: auto;
        padding: 20px 5px;
    }
    .sect02>div {
        width: auto;
    }
    .sect02 h2 {
        display: block;
        position: relative;
        left: 0;
        font-size: 16px;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: normal;
    }
    .sect02>div {
        padding-bottom: 50px;
    }
    section h2 i {
        font-size: 35px;
    }
    .skill>ul {
        flex-direction: column;
    }
    .skill>ul>li {
        font-size: 12px;
        text-align: left;
        margin: 20px 0 0;
        display: inline-block;
        vertical-align: text-bottom;
    }
    .skill>ul>li+li {
        margin-left: 0px;
    }
    .skill>ul>li>ul {
        padding-left: 0;
    }
    .skill>ul>li>h3 {
        font-size: x-large;
        margin-bottom: 8px;
        color: #444444;
    }
    .presentacion p {
        font-size: 12px;
        font-weight: 100;
        text-align: justify;
        padding: 10px 20px;
    }
    /*  */
    .work h2 {
        font-size: 16px;
    }
    #container ul li {
        width: 100%;
        flex-direction: column;
        position: relative;
        padding: 0;
        margin: 30px 0;
    }
    #container ul li .images {
        position: relative;
        width: 100%;
        height: 100%;
        flex-basis: 100%;
        align-self: flex-start;
        text-align: center;
        box-shadow: none !important;
    }
    #container ul li.dock .images>div,
    #container ul li.diamond .images>div,
    #container ul li.flex1 .images>div,
    #container ul li.flex2 .images>div,
    #container ul li.li_01 .images>div {
        width: 95%;
        margin: 20px auto;
        position: relative;
        clip-path: none !important;
        -webkit-clip-path: none !important;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
    #container ul li.dock .images .right,
    #container ul li.flex1 .images .right,
    #container ul li.flex2 .images .center,
    #container ul li.flex2 .images .right,
    #container ul li.diamond .images .center,
    #container ul li.diamond .images .right {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    #container ul li>div+div {
        margin-left: 0;
    }
    #container ul li .summary {
        flex-basis: 100%;
        padding: 20px 10px;
        border-radius: 0;
    }
    #container ul li .summary h3 {
        margin-bottom: 20px;
    }
    #container ul li p {
        padding: 0;
    }
    #container ul li .images {
        flex-direction: column;
    }
    #container ul li.dock,
    #container ul li.auone,
    #container ul li.flex1,
    #container ul li.li_01 {
        flex-direction: column-reverse;
    }
    #container ul li.dental .images>div,
    #container ul li.auone .images .center {
        width: 80%;
        margin: 20px auto;
    }
    #container ul li.diamond .images>div,
    #container ul li.flex1 .images>div,
    #container ul li.flex2 .images>div {
        position: relative;
        clip-path: none !important;
        -webkit-clip-path: none !important;
    }
    #container ul li.diamond .images div img,
    #container ul li.flex1 .images div img {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }
    #work #container {
        width: auto;
        margin: 0 auto;
        padding: 10px;
    }
    .resume .home_cli {
        width: 90%;
    }
    .contact h2 {
        font-size: 16px;
        margin: 30px 0;
    }
    .list__contactme>ul {
        display: block;
        padding: 20px 5px;
        position: relative;
    }
    .list__contactme>ul>li {
        width: calc( (85vh / 2));
        height: calc( (85vh / 2));
    }
}

@media only screen and (max-width: 600px) {
    #container ul li {
        margin: 0 0 50px;
        padding: 20px 0;
    }
    #container ul li .summary h3 {
        font-size: 14px;
    }
    .list__contactme>ul {
        height: 80vh;
    }
    #contact .diagonalBox::after {
        top: 37%;
        transform: rotate( 347deg);
        transform-origin: left;
        background-size: 133%;
        background-position: 42% 0%;
    }
    .list__contactme>ul>li.right p.line__qr {
        width: 100%;
        bottom: 60px;
        left: 0;
        right: calc( (100vh/ 2));
    }
    .list__contactme>ul>li.right p.line__qr img {
        width: 150px;
    }
    /* .list__contactme>ul>li.right p {
        text-align: right;
    } */
    .list__contactme>ul>li.right p a {
        color: #ffffff;
        text-shadow: -1px 2px 4px #33333373;
        font-size: 20px;
        font-weight: 200;
    }
    .list__contactme>ul>li.right p a:hover {
        color: #424242;
    }
    .list__contactme>ul>li.right p.email1 a:hover {
        background: #424242;
        -webkit-background-clip: text;
    }
    .list__contactme>ul>li.right p.tel a:hover,
    .list__contactme>ul>li.right p.line__link a:hover {
        color: #424242;
    }
    .list__contactme>ul>li.right p.line__link a small {
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
    }
    footer {
        padding: 15px 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-device-width: 990px) {
    #container ul li.dental .images {
        flex-direction: row;
    }
    #container ul li.dental .images>div,
    #container ul li.auone .images .center {
        width: 30%;
    }
    #contact .diagonalBox::after {
        top: 37%;
        transform: rotate( 347deg);
        transform-origin: left;
        background-size: 90%;
        background-position: 20% 0%;
    }
    .list__contactme>ul>li.right p:not(.line__qr) {
        text-align: right;
        padding-right: 20px;
    }
    .list__contactme>ul>li.right p.line__qr {
        position: relative;
        left: 0;
    }
    .list__contactme>ul>li.right p.line__qr img {
        width: 150px;
    }
}

@media only screen and (min-width: 991px) and (max-device-width: 1199px) {
    #container ul li {
        margin: 50px auto;
    }
    #container ul li .summary {
        padding: 0;
    }
    #container ul li .summary h3 {
        margin-bottom: 15px;
    }
    #container ul li p.link {
        padding: 0 10px;
    }
    #contact .diagonalBox::after {
        top: 48%;
        transform: rotate( 341deg);
        transform-origin: left;
        background-size: 82%;
    }
    /* .list__contactme>ul>li {
        display: block;
        width: 100%;
        padding: 0;
    } */
    .list__contactme>ul>li.right p.line__qr {
        position: relative;
        left: 0;
    }
}

@media only screen and (min-width: 1200px) {
    #container ul li.dental .images,
    #container ul li.auone .images {
        flex-basis: auto;
    }
}